{% extends 'skin.html' %}
{% block middle_content %}
  <h2>Generate a VMC bundle from a HGVS string</h2>
  <blockquote>
    <p>
      Code used in conversion come from the VMC GitHub repo file <code>vmc-python/vmc/conversions.py</code> found <a href="https://github.com/ga4gh/vmc-python/blob/master/vmc/conversions.py">here</a>.
      <br/>
        <p>
            To view the JSON <a href="https://github.com/ga4gh/vmc/blob/master/schema/vmcbundle.json">schema</a> used to represent the VMC bundle object, click <a href="#" onclick="toggleSchema()">here</a>
        </p>
    </p>
  </blockquote>
    <!--Display area for the example JSON schema-->
        <table id='schema' class="codehilitetable" style="display: none">
            <tr>
                <td class="code">
                    <div class="codehilite"><pre>{{ json_schema }}</pre></div>
                </td>
            </tr>
        </table>
  <!--Text input area for entering a HGVS string-->
  <form action="" method="post">
    HGVS string: <input class="input_box" type="text" name="hgvs_string" value="{{ hgvs_string }}"><br/>
    <input  style="padding-top:0px;padding-bottom:0px;border: 1px solid #CCCCCC;border-radius: 6px;background-color: #F8F8F8" class="btn" type="submit" value="Enter">
  </form>
  <!--Display area for the VMC JSON bundle representation of the entered HGVS string-->
    <table class="codehilitetable">
    <tr>
      <td class="code">
        <div class="codehilite"><pre id="hgvs_json">{{ hgvs_json }}</pre></div>
      </td>
    </tr>
  </table>
      <img src="../static/images/copy.png" width="30" height="30" onclick="copy()"> <span style="color:gray">Copy to clipboard</span>



{% endblock %}
