{% extends 'skin.html' %}
{% block middle_content %}
    <h2>Generate a VMC bundle (JSON) representation of the variants in your VCF file</h2>
    {% include 'vcf-upload.html' %}
        <p>
            To view the JSON <a href="https://github.com/ga4gh/vmc/blob/master/schema/vmcbundle.json">schema</a> used to represent the VMC bundle object, click <a href="#" onclick="toggleSchema()">here</a>
        </p>
    <!--Display area for the example JSON schema-->
        <table id='schema' class="codehilitetable" style="display: none">
            <tr>
                <td class="code">
                    <div class="codehilite"><pre>{{ json_schema }}</pre></div>
                </td>
            </tr>
        </table>


    <form action="" method="post">
        <select name="reference" style="width:120px;font-size:80%;">
            <option selected="selected" value="hg19">GRCh37/hg19</option>
            <option value="hg38">GRCh38/hg38</option>
            <option value="hg18">NCBI36/hg18</option>
        </select>
        <!--Transform "button" (actually an image with a link)-->
        <p class="pointer text-muted">
            <button type="submit"><img class="button" src="../static/images/convert.png"/></button> Generate JSON
        </p>
    </form>
    <!--Display area for the VMC JSON bundle representation of the uploaded VCF file-->
    <table class="codehilitetable">
        <tr>
            <td class="code">
                <div class="codehilite"><pre>{{ vcf_json }}</pre></div>
            </td>
        </tr>
    </table>
    <form>
        <!--Download JSON "button" (actually an image with a link)-->
        <p class="pointer text-muted">
            <a href="/vcf-to-json-download"><img class="button" src="../static/images/download.png"/></a> Download VMC JSON
        </p>
    </form>

  </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
{% endblock %}
