<small id="fileHelp" class="form-text text-muted">Upload your VCF file</small>
<div style="font-size:80%;" class="form-group">
    <form id="upload_form" action="/upload-vcf" method="post" enctype="multipart/form-data">
        <input style="display: none" class="btn-sm" type="file" onchange="setTimeout(showGIF,1000);this.form.submit()" id="fileInput" accept=".vcf" name="file" size="1" >
        <input style="padding-top:0px;padding-bottom:0px;border: 1px solid #CCCCCC;border-radius: 6px;background-color: #F8F8F8" type="button" value="Choose file" onclick="document.getElementById('fileInput').click();changeFileName()" />
        <span id="fileName">No file chosen</span>
        <script>
            window.addEventListener("load", changeFileName)
        </script>
    </form>
    <p id="file_name" class="text-muted"></p>
</div>
<p>To view your uploaded file, click <a href="#" onclick="togglePreview()">here</a></p>
<!--Display area for uploaded VCF file-->
<table id="preview" class="codehilitetable" style="display: none">
    <tr>
        <td class="code">
            <div class="codehilite"><pre id="inDisplayArea">{{ vcf_upload }}</pre></div>
        </td>
    </tr>
</table>